@mixin color($theme) {
  background: var(--q-color-bgMain#{$theme});
  .bg-main {
    background: var(--q-color-bgMain#{$theme});
  }
  .bg-sub {
    background: var(--q-color-bgSub#{$theme});
  }
  .text-main {
    color: var(--q-color-textMain#{$theme});
  }
  .text-sub1 {
    color: var(--q-color-textSub1#{$theme});
  }
  .text-sub2 {
    color: var(--q-color-textSub2#{$theme});
  }
  .text-sub3 {
    color: var(--q-color-textSub3#{$theme});
  }
  .text-sub4 {
    color: var(--q-color-textSub4#{$theme});
  }
  .bd-sub5 {
    border: 1px solid var(--q-color-bdSub5#{$theme});
  }
  .bg-opacity05 {
    background-color: var(--q-color-bgOpacity05#{$theme});
  }
  .text-opacity40 {
    color: var(--q-color-textOpacity40#{$theme});
  }
  .text-opacity60 {
    color: var(--q-color-textOpacity60#{$theme});
  }
  .mce-top-part {
    background: var(--q-color-bgOpacity05#{$theme}) !important;
    .mce-toolbar-grp {
      background: inherit;
      .mce-btn {
        background: inherit;
      }
    }
  }
  .mce-statusbar {
    background: var(--q-color-bgOpacity05#{$theme}) !important;
  }
  .mce-content-body.panel-body {
    background: var(--q-color-bgSub#{$theme});
    color: var(--q-color-textMain#{$theme});
  }

  .btn-toggle-main {
    .q-btn {
      border: 1px solid var(--q-color-textOpacity60#{$theme});
      border-right-width: 0;
    }
  }
}
body.body--dark {
  background: transparent !important;
  @include color(Dark);
}
body.body--light {
  background: transparent !important;
  @include color(Light);
}
